<template>
  <header class="main-header">
    <a class="logo" v-on:click="showTestMessage">
      <span class="logo-mini">EVC</span>
      <span class="logo-lg">Email Vue Client</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation"></nav>
  </header>
</template>
<script>
export default {
  methods: {
    showTestMessage () { alert('Test message') }
  }
}
</script>
<style scoped>
a.logo {
  text-decoration: none;
  cursor: pointer;
}
</style>
