<template>
  <div class="skin-green" id="app">
    <EmailPageHeader></EmailPageHeader>
  </div>
</template>

<script>
import './hacks/jquery-require'
import 'admin-lte'
import EmailPageHeader from './components/EmailPageHeader'

export default {
  name: 'App',
  components: {
    EmailPageHeader
  }
}
</script>

<style>
@import 'admin-lte/dist/css/AdminLTE';
@import 'admin-lte/dist/css/skins/skin-green';

body {
  margin: 0;
  padding: 0;
}
</style>
